
.NETFLIX_Home { 
	overflow:hidden;
}

.NETFLIX_Home { 
	width:1920px;
	height:1800px;
}

.top_container { 
	width:1920px;
	height:800px;
	top:0px;
	position: absolute;
	background-color:rgba(0, 0, 0, 1);
}

.netflix-logo { 
	width:156px;
	height:48px;
	position:absolute;
	left:40px;
	top:29px;
	background-image:url(images/netflix_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.user_icon { 
	width:45px;
	height:45px;
	position:absolute;
	left:1800px;
	top:40px;
	background-image:url(images/user_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.Main_media_background { 
	width:1920px;
	height:800px;
	background-image:url(images/main_media_background.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.Main_media_title { 
	width:490px;
	height:184px;
	position:absolute;
	left:80px;
	top:200px;
	background-image:url(images/main_media_title.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.explain_media { 
	color:rgba(255, 255, 255, 1);
	width:610px;
	height:90px;
	position:absolute;
	left:80px;
	top:420px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}

.play_button { 
	width:124px;
	height:46px;
	position:absolute;
	left:80px;
	top:525px;
}
.play_rectangle { 
	background-color:rgb(255, 255, 255);
	width:124px;
	height:46px;
	position:absolute;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.play_text { 
	color:rgb(0, 0, 0);
	width:80.px;
	height:32px;
	position:absolute;
	left:64px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.play_icon {
	width: 18px;
	height: 21px;
	position:absolute;
	left:16px;
	top:14px;
	bottom: 10px;
	border-radius:2px;
	background-image:url(images/play_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.detail_button { 
	width:140px;
	height:46px;
	position:absolute;
	left:226px;
	top:525px;
}
.detail_rectangle { 
	background-color: #808080;
	width:140;
	height:46px;
	position:absolute;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.detail_text { 
	color:rgba(255, 255, 255, 1);
	width:107px;
	height:32px;
	position:absolute;
	left:33px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:22px;
}
.detail_icon { 
	width:24px;
	height:24px;
	position:absolute;
	left:8px;
	top:10px;
	background-image:url(images/detail_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.bottom_container { 
	width:1920px;
	height:1000px;
	top:800px;
	position:absolute;
	background-color:rgba(0, 0, 0, 1);
}
.new_contants { 
	color:rgba(255, 255, 255, 1);
	width:420px;
	height:45px;
	margin-top: 30px;
	margin-left: 60px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
}
.Title1{

}
.Title2{

}

.Media_Frame {
	display: flex;
	justify-content: space-between;
	width:1800px;
	height:326px;
	margin: 40px;
}
.frame1 {
	bottom: 25px;
}
.frame2 {
	bottom: 0px;
}
.Media_Image{
	width:213px;
	height:326px;
}
.Media_Image{
	transition: all 0.2s linear;
}
.Media_Image:hover{
	transform: scale(1.1);
}

